*{
    margin:0px;
    padding:0px;}
@font-face {
    font-family:roboto-medium;
    src: url(/font/Roboto-Medium.ttf);}
@font-face {
    font-family:roboto-regular;
    src: url(/font/Roboto-Regular.ttf);}
body{
    background: var(--azul-1);
    color:var(--cor-principal);
    font-family: roboto-medium;
    position: relative;
    height: 1200px;
}
.org{
    display: grid;
    gap:60px;
}
img{
    display: block;
    width: 100%;
}

