.lista-habilidades{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 80px;
    width: 100%;
    margin: 100px 0px;
}
.item-habilidades .item-habilidades_1:hover{
    cursor: pointer;
}
.item-habilidades ul{
    display: none;
}
.item-habilidades_1{
    width: 6rem;
    height: 5rem;
    padding: 0px 10px;
    background: var(--salmao-1);
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 8px;
    background-image: linear-gradient(var(--salmao-1), var(--salmao-2));}
.item-habilidades_1:hover + ul, .tem-habilidades_1:focus + ul{
    display: block;
}
.item-habilidades_1:hover{
    background: var(--salmao-2);
}
.lista-item-habilidades{
    list-style-type:none;
    position: absolute;
    margin-top: 5px;
}
.lista-item-habilidades li{
    text-transform: uppercase;
    font-size: 0.8rem;
}
.lista-item-habilidades span{
    color: var(--salmao-1);
}
.projetos{
    display: grid;
    justify-content: center;
    justify-items: center;
}
.projetos a{
    background: var(--azul-2);
    padding: 10px;
    width: 6rem;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    border: 2px solid var(--azul-2);
    border-radius: 4px;
    color: var(--azul-1);
}
.projetos a:hover{
    background: var(--azul-1);
    color: var(--azul-2);
    transition: .3s;
}
@media(max-width:450px){
    .item-habilidades_1{
        width: 4.5rem;
        font-size: .8rem;
    }
    .lista-item-habilidades li{
        font-size: 0.6rem;
    }
}