:root{
    --cor-principal:#fff;
    --azul-1:#0B3954 ;
    --azul-2:#BFD7EA ;
    --azul-3:#092b3f ;
    --salmao-1:hsl(1, 100%, 69%) ;
    --salmao-2:#fd3e3b ;
    --salmao-3:#fa1e1a ;
    --verde-1:#e0ff4f ;}
