*{
    margin:0px;
    padding:0px;}
@font-face {
    font-family:roboto-medium;
    src: url(/font/Roboto-Medium.ttf);
}
@font-face {
    font-family:roboto-regular;
    src: url(/font/Roboto-Regular.ttf);
}

:root{
    --azul-1:#0B3954 ;
    --azul-2:#BFD7EA ;
    --azul-3:#092b3f ;
    --salmao-1:#ff6663 ;
    --salmao-2:#fd5754 ;
    --verde-1:#e0ff4f ;
    --color:#fefffe ;
    --cor-principal:#fff;}

body{
    background: var(--azul-1);
    color:var(--cor-principal);
    font-family: roboto-medium;}

header{
    background: var(--azul-3);
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;}

.barra-topo{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    place-items: center;}

.navegacao{
    list-style-type: none;
    display: flex;
    gap:20px;}

.item-navegacao{
    color:var(--color);
    text-transform: uppercase;
    text-decoration: none;}

.redes{
    display: flex;
    gap:20px;
    list-style-type: none;
    align-items: center;}

.gradient{
    width: 100%;
    box-sizing: border-box;
    height: 20px;
    background-image: linear-gradient(var(--azul-3), var(--azul-1));}

@media (max-width:600px){

    .barra-topo{
        grid-template-columns: 1fr;
    }

}
@media (max-width:600px){
    header{
        font-size: 12px;
    }
}